@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 21, 23, 24;
  --background-rgb: 21, 23, 24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 21, 23, 24;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.fundo {
  background-color: #151718;
}